{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="validate">
    <h1>SUCCESS</h1>
    <p>You have successfully brought the item.</p>
    <p>In case you forgot to add any item:</p>
    <a href="{% url 'cart' %}"><button style="padding: 10px; font-family: Georgia, 'Times New Roman', Times, serif; color: black; font-style: bold;">Back to cart</button></a>
    </div>
</body>
</html>